################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/APKOnline/v15/Server/sqlite3
.vs/APKOnline/v15/
bin/
obj/
