<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <h3 class="box-title">รายการใบสั่งซื้อ</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>
    #gridContainer {
        height: 440px;
    }
</style>