<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <div class="pull-right">
                        @*<button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal" data-target="#ImportPRModal"><i class="glyphicon glyphicon-save"></i> โหลดข้อมูลใบขอซื้อ</button>*@
                        <div class="button-info" dx-button="{
                        text: 'โหลดข้อมูลใบขอซื้อ',
                        onClick: showInfo
                    }"></div>
                    </div>

                    <h3 class="box-title">รายการใบสั่งซื้อ</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
                </div>
            </div>
        </div>
    </div>
</section>

<div dx-popup="popupOptions">
    <div class="modal-content">

        <div class="modal-body">
            <div id="gridContainer" dx-data-grid="dataPurchaseRequestOptions"></div>
        </div>

    </div>
</div>

<style>
    #gridContainer {
        height: 440px;
    }
</style>