<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    <div class="pull-right">
                        <button type="button" class="btn btn-block btn-success btn-sm" data-toggle="modal" data-target="#ImportPRModal"><i class="glyphicon glyphicon-save"></i> โหลดข้อมูลใบขอซื้อ</button>
                    </div>
                    <h3 class="box-title">รายการใบสั่งซื้อ</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
                </div>
            </div>
        </div>
        
    </div>
    @*<div class="row">
        <div class="col-md-12">
            <center>
                <button class="btn btn-warning btn-lg" style="width:120px;" ng-click="BackToPopUp()">กลับ</button>
            </center>
    </div>
    </div>*@
</section>

<div class="modal fade bs-example-modal-lg" id="ImportPRModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i></button>
                <h3 class="modal-title" id="myModalLabel">โหลดข้อมูลใบขอซื้อภายใน</h3>
            </div>
            <div class="modal-body">
                <div id="gridContainer" dx-data-grid="dataPurchaseRequestOptions"></div>
            </div>
            @*<div class="modal-footer">
                <center>
                    <button type="submit" class="btn btn-success" ng-click="goToViewPurchaseOrder()"><i class="fa fa-save"></i> บันทึก</button>
                    <button type="submit" class="btn btn-danger" data-dismiss="modal" aria-label="Close"><i class="fa fa-close"></i> ยกเลิก</button>
                </center>
            </div>*@
        </div>
    </div>
</div>

<style>
    #gridContainer {
        height: 440px;
    }
</style>