<section class="content" ng-init="ListReportBudget()">
    <div class="row">
        <div class="col-md-12">
            <div class="box">
                <div class="box-header with-border">
                    <h3 class="box-title">รายงานงบประมาณ</h3>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="col-md-12">
                            <center>
                                <div id="pie" dx-pie-chart="chartOptions"></div>
                            </center>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>