<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-success">
                <div class="box-header with-border">
                    @*<div class="pull-right">
                            <button type="button" class="btn btn-block btn-primary btn-sm" style="width:60px;">New</button>
                        </div>*@
                    <h3 class="box-title">ขออนุมัติเบิกใช้งบประมาณบริษัท</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body">
                    <!-- form start -->
                    <form class="form-horizontal">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-4 control-label">DM No. : </label>
                                    <div class="col-sm-8">
                                        <label class="col-sm-8 control-label">{{Document_Vnos}}</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">เบอร์โทร : </label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="Document_Tel" ng-model="Document_Tel">
                                    </div>
                                </div>
                                @*<div class="form-group">
                        <label for="inputPassword3" class="col-sm-4 control-label"></label>
                        <div class="col-sm-8">
                            <div class="form-group">
                                <label class="col-md-3">
                                    <input type="checkbox" class="flat-red" checked>
                                    PR
                                </label>
                                <label class="col-md-3">
                                    <input type="checkbox" class="flat-red">
                                    SR
                                </label>
                                <label class="col-md-3">
                                    <input type="checkbox" class="flat-red">
                                    CR
                                </label>
                            </div>
                        </div>
                    </div>*@
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">รหัสโครงการ : </label>
                                    <div class="col-sm-8">
                                        <div class="col-xs-10" id="Job" style="height: 32px;"></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">แผนก : </label>
                                    <div class="col-sm-8">
                                        <div class="col-xs-10" id="Dept" style="height: 32px;"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="inputPassword3" class="col-sm-4 control-label">วันที่ : </label>
                                    <div class="col-sm-8">
                                        <label style="margin-top:7px;">{{DocDate}}</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>

                    <div class="box-group" id="accordion">
                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                        <div class="panel box box-default">
                            <div class="box-header with-border" style="background-color:#4fa85b">
                                <h4 class="box-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="color:white;" onclick="return false">
                                        <i class="fa fa-angle-down"></i>
                                        กรุณาป้อนรายละเอียด
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="box-body">
                                    <form class="form-horizontal">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputPassword3" class="col-sm-4 control-label">ลักษณะค่าใช้จ่าย : </label>
                                                    <div class="col-sm-8">

                                                        <div class="col-xs-10" id="DocumentGroup" style="height: 32px;"></div>

                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPassword3" class="col-sm-4 control-label">ประเภทการจัดซื้อ : </label>
                                                    <div class="col-sm-8">
                                                        <div class="col-xs-10" id="Category" style="height: 32px;"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPassword3" class="col-sm-4 control-label">วัตถุประสงค์ : </label>
                                                    <div class="col-sm-8">
                                                        <div class="col-xs-10" id="Objective" style="height: 32px;"></div>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPassword3" class="col-sm-4 control-label">รายละเอียด : </label>
                                                    <div class="col-sm-8">
                                                        <textarea class="form-control" rows="3" ng-model="Document_Desc"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="inputPassword3" class="col-sm-3 control-label">งวดงาน : </label>
                                                    <div class="col-sm-9">
                                                        <input type="text" class="form-control" id="inputPassword3">
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label for="inputPassword3" class="col-sm-3 control-label">รายละเอียด : </label>
                                                    <div class="col-sm-9">
                                                        <textarea class="form-control" rows="3" ng-model="Document_Means"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="box-group" id="accordion">
                        <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->
                        <div class="panel box box-default">
                            <div class="box-header with-border" style="background-color:#4fa85b">
                                <h4 class="box-title">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="color:white;" onclick="return false">
                                        <i class="fa fa-angle-down"></i>
                                        รายละเอียดรายการขออนุมัติสั่งซื้อ-เบิก-จ่าย หรือ รายการและจำนวนสินค้าที่ขอทำรายการ
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse in">
                                <div class="box-body">
                                    <div id="gridContainer" dx-data-grid="dataGridOptions"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div >
                        <center>
                            @*<div class="row">
            <input type="file" ng-file-model="files" multiple class="btn btn-secondary" />
        </div>
        <div class="row">
            <p ng-repeat="file in files">
                {{file.name}}
            </p>
        </div>
        <div class="row">
            <button class="btn btn-info" type="button" ng-click="upload()">Upload</button>

        </div>*@
                            <input type="file" multiple="multiple" ngf-select="UploadFiles($files)" />
                            <hr />
                            Files:
                            <ul><li ng-repeat="file in SelectedFiles">{{file.name}}</li></ul>
                            <div id="dvProgress" class="progress" ng-show="Progress >= 0">   </div>
                        </center>
                    </div>

                        @*<form class="form-horizontal">
            <div class="row">
                <div class="col-md-12">
                    <center>
                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" style="color:red;" onclick="return false">
                            *** ถ้ามีการ Upload ไฟล์เสร็จแล้ว  upload อีกครั้งไฟล์เดิมจะหายไป
                        </a>
                    </center>
                    <center>

                        <button class="btn btn-info" style="width:120px;" ng-click="OpenUploadFile()">Upload File</button>
                    </center>

                </div>
            </div>
        </form>*@
                    </div>
                <div class="box-footer">
                    <center>
                        <button class="btn btn-success btn-lg" style="width:120px;" ng-click="SaveDocuments()">Save</button>&nbsp;&nbsp;&nbsp;
                        <button class="btn btn-warning btn-lg" style="width:120px;" ng-click="CancelDocuments()">Cancel</button>
                    </center>
                </div>
            </div>
        </div>
    </div>
</section>

<style>
    #gridContainer {
        height: 440px;
    }
</style>
